.card {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 1rem;
  border-radius: 5px;
}

.cardContainer {
  /* background-color: #231e39; */
  border-radius: 5px;
  color: #4d4d4d;
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.cardContainer:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cardContainer .round {
  border: 1px solid #f47b23;
  border-radius: 50%;
  padding: 7px;
}
